:root {
	--theme-black: rgba(0,0,0,1);
	--theme-white: rgba(255,255,255,1);
	--theme-green: #01C34F;
	--theme-red: #FF5454;
}
html {
	font-size: 18px;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: inherit;
	font-weight: 400;
	line-height: 1.33;
	position: relative;
	color: var(--theme-black);

  background-image: url(../img/1123123.jpg);
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  height: 100vh;
  padding: 0;
  position: relative;
  z-index: 1;

}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,p{
	margin-bottom: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.row > * {
	padding-left: 0;
	padding-right: 0;
}
.full-height {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.25);
}
.popup {
	background: var(--theme-white);
	width: calc(100% - 20px);
	max-width: 458px;
	box-shadow: 0 4px 32px 0 rgba(0,0,0,0.1);
	border-radius: 32px;
	overflow: hidden;
}
.popup .title {
	font-size: 24px;
	line-height: 1.33;
	background: #0071ce;
	text-align: center;
	color: var(--theme-white);
	padding: 16px;
}
.popup .body {
	padding: 37px;
}
.popup .body a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--theme-white);
	padding: 15px 24px 15px 24px;
	border-radius: 24px;
	text-decoration: none;
	transition: 0.3s;
	color: var(--theme-black);
}
.popup .body svg {
	margin-left: 10px;
}
.popup .body a:not(:last-child) {
	margin-bottom: 30px;
}
.popup .body a.green {
	border: 1px solid var(--theme-green);
}
.popup .body a.green svg {
	stroke: var(--theme-green);
	transition: 0.3s;
}
.popup .body a.green:hover {
	background: var(--theme-green);
	color: var(--theme-white);
}
.popup .body a.green:hover svg {
	stroke: var(--theme-white);
}

.popup .body a.red {
	border: 1px solid var(--theme-red);
}
.popup .body a.red svg {
	stroke: var(--theme-red);
	transition: 0.3s;
}
.popup .body a.red:hover {
	background: var(--theme-red);
	color: var(--theme-white);
}
.popup .body a.red:hover svg {
	stroke: var(--theme-white);
}

@media screen and (max-width: 991px) {
	.popup {
	}
	.popup .title {
		font-size: 21px;
	}
	.popup .body {
		padding: 24px;
	}
	.popup .body a:not(:last-child) {
		margin-bottom: 18px;
	}
}


/******* Footer *********/
footer, .footer {
  width: 100%;
  padding: 15px 0;
  background: #0071ce
;
  color: var(--theme-white);
  text-align: center;
  margin-top: 50px;
}
footer ul, 
.footer ul {
  list-style: none;
}

footer img, footer .img-responsive, .footer img, .footer .img-responsive {
  max-width: 200px;
  width: 100%;
  height: 100%;
}

footer a, 
.footer a {
  color: var(--theme-white);
  text-decoration: none;
}

footer a:hover, .footer a:hover {
  color: var(--theme-white);
}

/* Footer */
.footer {
  width: 100%;
  background-color: rgba(243, 245, 247, 1);
  padding-top: 40px;
}
.footer__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  display: block;
  width: 265px;
  margin-bottom: 20px;
}
.footer-box {
  display: flex;
  flex-direction: column;
}
.footer-box__head {
  display: flex;
  flex-direction: column;
}
.footer-box__head_link {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  margin-right: 20px;
}
.footer-box__head_link:last-child {
  margin: 0;
}
.footer__text {
  color: #000;
  max-width: 265px;
  font-size: 10px;
  line-height: 1.2;
  margin-top: 20px;
}
.footer__image {
  display: block;
  width: 350px;
}
@media (min-width: 992px) {
  header {
    padding: 10px 0;
  }
  header .header-wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  header .header-sub {
    font-size: 16px;
    padding-top: 8px;
  }

  footer .footer-links ul li a:hover {
    text-decoration: none;
  }
  footer .main-footer-links ul li {
    width: 24%;
    border: none;
    display: inline-block;
  }
  footer .ca-footer-links ul li {
    width: 49%;
    border: none;
    display: inline-block;
    text-align: right;
  }
}
@media (max-width: 1045px) {

  .footer__inner {
    width: 100%;
  }
}
@media (max-width: 751px) {
  .footer__inner {
    align-items: start;
  }
  .footer__logo {
    width: 240px;
  }
  .footer__image {
    width: 260px;
    margin-right: -25px;
  }
}
@media (max-width: 552px) {
  .footer__logo {
    width: 200px;
  }
  .footer__image {
    width: 220px;
    margin-right: -20px;
  }
  .footer__text {
    max-width: 220px;
    font-size: 10px;
    line-height: 1.2;
    margin-top: 20px;
  }
}
@media (max-width: 442px) {
  .footer__logo {
    width: 160px;
  }
  .footer-box__head_link {
    font-size: 14px;
    margin-right: 10px;
  }
  .footer__image {
    width: 180px;
    margin-right: -20px;
  }
  .button-text__title{
    font-size: 18px;
    margin: 20px 0 35px;
  }
}
@media (max-width: 372px) {
  .footer__logo {
    width: 140px;
  }
  .footer__image {
    width: 150px;
    margin-right: -20px;
  }
}

footer a,
footer p,
footer .footer-links ul li,
footer .footer-copy,
footer .footer-site {
    font-size: 11px;
    letter-spacing: 0.1px;
}

footer .footer-links ul li {
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

footer .footer-copy,
footer .footer-site {
    font-size: 10px;
}

ul {
  padding-left: 0 !important;
}

@media screen and (max-width: 500px) {
  body {
    background-size: auto 120%;
    background-position: 71% 50%;
  }
}